.tmp
target
app-home-example/

/.idea/
application.conf
logback-test.xml
tmp

# eclipse conf file
.eclipse
.settings
.classpath
.history
.project
.cache

# sbt
.bsp

# scalatest reports
report/
*-report/

# MACOS file system junk
.DS_Store

# vs code
.vscode

# wabase business tests debugging
*.received
